-f https://download.pytorch.org/whl/metal.html
torch 
torchvision 
torchaudio
transformers 
transformers[sentencepiece] 
datasets 
tokenizer 
sentencepiece 
rouge-score
evaluate
nltk
huggingface_hub
transformers[torch]
